@import "tailwindcss";

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.btn-primary {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.25);
  transform: translateY(-1px);
}

.btn-secondary {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.15);
}
.btn-secondary:hover {
  box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}

p {
  font-family: "Karla", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
}

h2,
h3 {
  font-family: "DM Sans", sans-serif;
}

/* Light mode shadow */
.card-light {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Dark mode shadow */
.card-dark {
  box-shadow: 0 6px 24px rgba(255, 255, 255, 0.05);
}

.element::-webkit-scrollbar {
  display: none;
}
